<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Update Item
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <div class="logo" padding>
        <ion-img src="../../assets/test.png"></ion-img>
      </div> 

      <div class="input">
        <ion-select placeholder="select item id" [(ngModel)]="itemid" (ionChange)="fillvalue()">
          <ion-select-option *ngFor="let item of api.item">{{item._id}}</ion-select-option>
        </ion-select>
      </div> 
      <div class="input"><ion-input type="text" placeholder="item name" [(ngModel)]="name"></ion-input></div>
      <div class="input"><ion-input type="number" placeholder="quantity" [(ngModel)]="quantity"></ion-input></div>
      <div class="input"><ion-input type="number" placeholder="price (RM)" [(ngModel)]="price"></ion-input></div>
    
      <br><br>
    
      <div class="button"><ion-button (click)="save()">save</ion-button></div>

</ion-content>
