<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Update Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <div class="logo" padding>
        <ion-img src="../../assets/test.png"></ion-img>
      </div>
    
      <div class="input"><ion-input type="text" [(ngModel)]="email"></ion-input></div>
      <div class="input"><ion-input type="text" [(ngModel)]="name"></ion-input></div>
      <div class="input"><ion-input type="text" [(ngModel)]="position"></ion-input></div>
      <div class="input"><ion-input type="password" [(ngModel)]="password"></ion-input></div>
      <div class="input"><ion-input type="password" [(ngModel)]="repassword"></ion-input></div>
    
      <br><br>
    
      <div class="button"><ion-button (click)="update()">Update</ion-button></div>
      <div class="button"><ion-button (click)="reset()" color="danger">Reset</ion-button></div>      

</ion-content>
